<div class="container">
    <h1 class="col-lg-6 col-md-10 col-sm-10"><%= title %> Movie</h1>
    <hr>
    <div id="messageArea"></div>

    <div class="row justify-content-lg-center g-3">
      <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
          <span class="input-group-text">Movie Name</span>
          <input id="movieName" name="movieName" type="text" class="form-control" 
          value="<%= movie.Name %>"
          aria-label="Movie Name" aria-describedby="Movie Name Input" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Director Name</span>
            <input id="movieDirector" name="movieDirector" type="text" class="form-control" 
            value="<%= movie.Director %>"
            aria-label="Director Name" aria-describedby="Movie Director Input" required>
          </div>

        <div class="input-group mb-3">
        <span class="input-group-text">Year Released</span>
        <input id="movieYear" name="movieYear" type="text" class="form-control" 
        value="<%= movie.Year %>"
        aria-label="Movie Year" aria-describedby="Movie Year Input" required>
        </div>

        <div class="input-group mb-3">
        <span class="input-group-text">Rating</span>
        <input id="movieRating" name="movieRating" type="text" class="form-control" 
        value="<%= movie.Rating %>"
        aria-label="Movie Rating" aria-describedby="Movie Rating Input" required>
        </div>
        
        <% if(title == "Edit") { %>
        <button id="editButton" type="submit" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
        <% } else {%>
        <button id="addButton" type="submit" class="btn btn-primary"><i class="fas fa-plus-circle fa-lg"></i> Add</button>
        <% } %>  

        <a href="/movie-list" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i> Cancel</a>
      
      </form>

    </div>
</div>

